.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content-card{
    width: 100%;
    max-width: 450px;
    
    min-height: 200px;
    padding: 3rem;
    padding-bottom: 3.4rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    align-items: center;
    span{
        letter-spacing: 4px;
        font-size: 12px;
    }
    
    .content-appointment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .die{
        
        min-height: 60px;
        max-height: 60px;
        min-width: 60px;
        max-width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--neon-green);
        position: absolute;
        bottom: 0;
        cursor: pointer;
        transform: translateY(30px);
        transition: .3s ease all;
        .icon-die{
            transition: .2s ease all;
        }
        &:hover{
            box-shadow: 1px 0px 31px 0px var(--neon-green);
            -webkit-box-shadow: 1px 0px 31px 0px var(--neon-green);
            -moz-box-shadow: 1px 0px 31px 0px var(--neon-green);
        }
        &:active{            
            .icon-die{
                transform: rotate(100deg);               
            }
        }
    }

}